<div id="samples-filter-group" class="chip-filters-group" style="margin-bottom:20px">
    <div class="search-row">
        <div class="search-wrapper">
            <span class="material-symbols leading-icon" aria-hidden="true">search</span>
            <input type="search" placeholder='Try "button" or "networking"...'
                   aria-label="Search learning resources by name and category">
        </div>
    </div>
</div>

<section class="card-grid" id="all-samples-grid">
    {%- for item in samples -%}
        <a id="{{ item.name }}"
           data-type="{{ item.type }}"
           data-tags='{{ item.tags | join: ", " }}'
           class="card outlined-card"
           href="{{ item.source-link.url }}">
            <div class="card-image-holder-material-3">
                {%- if item.imageUrl -%}
                    <img src='{{ item.imageUrl }}'>
                {%- endif -%}
            </div>
            <div class="card-leading">
                {%- liquid
                    case item.type
                        when 'codelab'
                            assign pill-color = 'flutter-blue'
                        when 'quickstart'
                            assign pill-color = 'purple'
                        when 'demo'
                            assign pill-color = 'purple'
                        else
                            assign pill-color = 'teal'
                    endcase -%}
                <span class="pill-sm {{ pill-color }}">{{ item.type | capitalize }}</span>
                {%- if item.source-link.label == "Github" -%}
                    <svg width="24px" height="24px">
                        <use href="/assets/images/social/github.svg#github"></use>
                    </svg>
                {%- elsif item.source-link.label == 'Flutter docs' -%}
                    <img src='/assets/images/branding/flutter/icon/1080.png' alt="Flutter icon" width="24px"/>
                {%- elsif item.source-link.label == 'Dart docs' -%}
                    <img src='/assets/images/branding/dart/64.png' alt="Dart icon" width="24px"/>
                {%- elsif item.source-link.label == "Google Codelab" -%}
                    <svg width="24px" height="24px">
                        <use href="/assets/images/social/google-developers.svg#google-developers"></use>
                    </svg>
                {%- endif -%}
            </div>
            <div class="card-header">
                <span class="card-title">{{ item.name }}</span>
            </div>
            <div class="card-content" style="flex:2;align-self: start">
                <p style="align-self: start">{{ item.description }}</p>
            </div>
        </a>
    {%- endfor -%}
</section>
